.frame-child {
  width: 1408px;
  height: 42.5px;
  object-fit: contain;
}
.frame-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div {
  width: 24px;
  display: inline-block;
  height: 31px;
  flex-shrink: 0;
}
.div,
.game-state {
  position: relative;
  line-height: 130%;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.reset1 {
  font-size: var(--font-size-lg);
}
.span {
  font-size: var(--font-size-smi);
}
.reset {
  position: relative;
  line-height: 130%;
  font-family: var(--font-not-jam-ui-condensed-16);
  color: var(--color-white);
  text-align: right;
}
.action,
.frame-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.action {
  cursor: pointer;
  border: 1px solid var(--border-subtle-dark);
  padding: 0;
  background-color: transparent;
  width: 78px;
  border-radius: var(--br-9xs);
  height: 39px;
  justify-content: center;
}
.action1:active,
.action:active {
  background-color: var(--color-deepskyblue-100);
}
.frame-container {
  align-self: stretch;
  border-bottom: 1px solid var(--border-subtle-dark);
  height: 71.5px;
  justify-content: space-between;
  padding: 0 var(--padding-5xs) 0 var(--padding-base);
  font-size: var(--font-size-5xl);
}
.player {
  color: var(--color-limegreen);
}
.span1 {
  color: var(--color-deepskyblue-200);
}
.y {
  color: var(--color-white);
}
.player-is-at-position-x-3-y {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-5xl);
}
.player-is-at-container {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.enemy {
  color: var(--color-tomato);
}
.game-status {
  color: var(--color-mediumorchid);
}
.game-status-is-container {
  align-self: stretch;
  position: relative;
  line-height: 130%;
  color: white;
}
.player-is-at-position-x-3-y-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg-5) 0 var(--padding-mini-5);
  gap: var(--gap-base);
}
.frame-input {
  margin: 0;
  width: 16px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--border-subtle-dark);
  box-sizing: border-box;
background-color: #000;
}

/* hrp */


.devhrp input[type='checkbox']{
  width: 14px !important;
  height: 14px !important;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid gray;
  box-shadow: none;
  font-size: 0.8em;
  text-align: center;
  line-height: 1em;
  background: #242424;
}

.devhrp input[type='checkbox']:checked:after {
  content: '✔';
  color: white;
}

/* rhp */
.blackbox,
.footer {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.footer {
  border-top: 1px solid var(--border-subtle-dark);
  box-sizing: border-box;
  height: 48px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-base);
  gap: var(--gap-3xs);
  color: var(--color-gray-200);
}
.blackbox {
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  height: 332px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}
.frame-item {
  width: 80px;
  object-fit: cover;
  position: relative;
  right: -23px;
}
.blackbox-parent {
  width: 419px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: var(--font-size-lg);
}
.boxcontent-child {
  align-self: stretch;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16) inset;
  border-radius: var(--br-9xs);
  background-color: #2a2a2a;
  height: 455px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-inner {
  align-self: stretch;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  height: 8px;
}
.ellipse-parent,
.frame-parent1 {
  display: flex;
  align-items: flex-start;
}
.ellipse-parent {
  width: 8px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent1 {
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
}
.screen {
  flex: 1;
  position: relative;
  line-height: 130%;
}
.boxcontent,
.frame-div,
.screen-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.screen-wrapper {
  width: 107px;
  align-items: center;
  justify-content: center;
}
.boxcontent,
.frame-div {
  align-items: flex-start;
  justify-content: flex-start;
}
.boxcontent {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  height: 538px;
  flex-direction: column;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.content-child {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  height: 16px;
  flex-shrink: 0;
  object-fit: contain;
}
.renderer-graphics {
  position: relative;
  line-height: 130%;
  color: var(--primary-text);
}
.group,
.kenny-parent {
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-weight: normal;
}
.group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.kenny-parent {
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 0;
  padding: var(--padding-11xs-5) var(--padding-8xs);
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: var(--font-size-base);
  color: var(--primary-text);
}
.art-style-parent,
.frame-parent3,
.kenny-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.art-style-parent {
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-lg);
  color: var(--secondary-text);
}
.frame-parent3 {
  align-self: stretch;
  flex: 1;
  justify-content: space-between;
}
.content-inner,
.frame-wrapper1 {
  align-self: stretch;
  flex-direction: column;
}
.frame-wrapper1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  background-image: url(./public/frame-54@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.content-inner {
  backdrop-filter: blur(160px);
  border-radius: var(--br-5xs);
  height: 123px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  text-align: left;
  color: var(--color-white);
}
.container,
.content,
.content-inner {
  display: flex;
  justify-content: flex-start;
}
.content {
  width: 538px;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  color: var(--primary-text);
}
.container {
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
}
.pause {
  position: relative;
  line-height: 130%;
  font-family: var(--font-not-jam-ui-condensed-16);
  color: var(--primary-text);
  text-align: right;
}
.action1 {
  cursor: pointer;
  border: 1px solid var(--border-subtle-light);
  background-color: transparent;
  height: 39px;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 0 12px;
}
.action1:active {
  border: 1px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
}
/*
.action1:focus {
  background-color: var(--color-deepskyblue-100);
}
*/
.frame-parent5 {
  border-bottom: 1px solid var(--border-subtle-light);
  box-sizing: border-box;
  height: 71px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
}
.div3,
.frame-parent5,
.parent1 {
  align-self: stretch;
}
.div3 {
  width: 23px;
  position: relative;
  line-height: 130%;
  display: inline-block;
  flex-shrink: 0;
  opacity: 0.5;
}
.parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.if-the {
  color: var(--secondary-text);
}
.if-the-player-is-1-space-away {
  margin: 0;
}
.lost {
  color: var(--color-darkorange);
}
.set-the-game-status-to-lost {
  margin: 0;
  color: var(--color-mediumorchid);
}
.frame-parent4,
.view {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.view {
  align-items: flex-start;
  padding: var(--padding-base);
  gap: var(--gap-xs);
  font-size: var(--font-size-lg);
  color: var(--secondary-text);
}
.frame-parent4 {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  height: 538px;
  align-items: center;
}
.arrow-left-icon {
  width: 7.5px;
  position: relative;
  height: 15px;
}
.arrow-left {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-4xs);
}
.arrow-left,
.arrow-left-parent,
.t {
  align-items: center;
  justify-content: center;
}
.t {
  width: 8px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 130%;
  font-family: var(--font-not-jam-ui-condensed-16);
  color: var(--color-white);
  text-align: center;
  display: none;
  height: 31px;
}
.arrow-left-parent {
  cursor: pointer;
  border: 2px solid var(--color-darkgray);
  padding: 0;
  background-color: var(--color-whitesmoke-100);
  height: 55px;
  flex: 1;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.18);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.arrow-left-parent:active, .arrow-left-parent.active, .arrow-left-parent:focus  {
  background-color: var(--color-deepskyblue-100);
  border: 2px solid var(--color-darkgray);
  box-sizing: border-box;
}

/* hrp */

/* hrp */
.arrow-drop-up-icon {
  width: 13.5px;
  position: relative;
  height: 7.5px;
}
.arrow-drop-up {
  align-self: stretch;
  height: 24px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-6xs);
  box-sizing: border-box;
}
.arrow-drop-up,
.arrow-drop-up-parent,
.t1 {
  align-items: center;
  justify-content: center;
}
.t1 {
  width: 8px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 130%;
  font-family: var(--font-not-jam-ui-condensed-16);
  color: var(--color-white);
  text-align: center;
  display: none;
  height: 31px;
  flex-shrink: 0;
}
.arrow-drop-up-parent {
  cursor: pointer;
  border: 2px solid var(--color-darkgray);
  padding: 0;
  background-color: var(--color-whitesmoke-100);
  width: 55px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.18);
  box-sizing: border-box;
  height: 55px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.arrow-drop-up-parent:active {
  background-color: var(--color-deepskyblue-100);
}
.arrow-drop-down-parent.active,
.arrow-drop-up-parent.active,
.arrow-right-parent.active,
.spacebar-wrapper.active {
  background-color: var(--color-deepskyblue-100);
}
.frame-parent8 {
  width: 116px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.input,
.input-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  position: relative;
  line-height: 130%;
  height: 31px;
}
.input-wrapper {
  flex-direction: row;
  padding: var(--padding-3xs);
}
.arrow-drop-down-parent {
  cursor: pointer;
  border: 2px solid var(--color-darkgray);
  padding: 0;
  background-color: var(--color-whitesmoke-100);
  width: 55px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.18);
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-3xs);
}
.arrow-drop-down-parent,
.arrow-right,
.arrow-right-parent {
  box-sizing: border-box;
  justify-content: center;
}
.arrow-right {
  flex: 1;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-6xs) var(--padding-4xs);
}
.arrow-right-parent {
  cursor: pointer;
  border: 2px solid var(--color-darkgray);
  padding: 0;
  background-color: var(--color-whitesmoke-100);
  width: 55px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.18);
  height: 55px;
  gap: var(--gap-3xs);
}
.arrow-right-parent,
.frame-parent7,
.frame-parent9 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent9 {
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.frame-parent7 {
  align-self: stretch;
  justify-content: space-between;
}
.spacebar,
.spacebar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spacebar {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 130%;
  font-family: var(--font-not-jam-ui-condensed-16);
  color: var(--color-darkgray);
  text-align: center;
  height: 31px;
}
.spacebar-wrapper {
  cursor: pointer;
  border: 2px solid var(--color-darkgray);
  padding: 0;
  background-color: var(--color-whitesmoke-100);
  align-self: stretch;
  box-sizing: border-box;
  height: 55px;
  flex-direction: row;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.18);
}
.frame-parent6,
.sidebar {
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent6 {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-9xs);
  gap: var(--gap-8xs);
  text-align: center;
  color: var(--primary-text);
}
.sidebar {
  width: 419px;
}
.frame-group,
.frame-parent,
.sidebar {
  display: flex;
  align-items: flex-start;
}
.frame-group {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 var(--padding-5xs) 0 var(--padding-base);
  gap: var(--gap-base);
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-43xl) 0;
}
.how-a-game-works-done {
  width: 100%;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-silver);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-not-jam-ui-condensed-16);
}

/* hrp */

@media screen and (min-width: 1600px) {
 
  html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}
}
@media screen and (min-width: 1920px) {
  html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: #bbb;
}

}

@media screen and (min-width: 4820px) {
  html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: #bbb;
}
}

@media screen and (min-width: 96020px) {
  html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: #bbb;
}
}
/* hrp */
@media screen and (max-width: 1200px) {
  .frame-child {
    display: none;
  }
  .blackbox {
    align-self: stretch;
    width: auto;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-item {
    display: none;
  }
  .blackbox-parent,
  .content,
  .sidebar {
    align-self: stretch;
    width: auto;
  }
  .frame-group {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-parent {
    flex: unset;
    align-self: stretch;
  }
  .how-a-game-works-done {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .parent {
    flex: 1;
  }
  .frame-container {
    align-self: stretch;
    width: auto;
  }
  .blackbox {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .blackbox,
  .content,
  .sidebar {
    min-width: 0;
    max-width: 390px;
  }
  .frame-group {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .how-a-game-works-done {
    width: 100%;
    height: auto;
    padding-right: 0;
    box-sizing: border-box;
  }
}

.no-whitespace-after {
  margin-right: -3px;
}
.frame-parent4 .no-whitespace-after {
  margin-right: -6px;
}

#jsonGameState {
  white-space: pre;
  padding: 0 var(--padding-lg-5) 0 26px;
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
}

#gameStatus {
  color: var(--color-darkorange);
}

button.active img:not(.active), button:not(.active) img.active {
  display: none;
}
button.active img.active, button:not(.active) img:not(.active) {
  display: block;
}
button.active * {
  color: white;
}

.slow-mode-container {
  display: flex;
  color: var(--primary-text);
  font-size: 18px;
  align-items: center;
  padding-right: 12px;
}
.slow-mode-container input[type="checkbox"] {
  outline-color: #DCDCDC;
  background: white;
  border: none;
}
.slow-mode-container input[type="checkbox"]:checked:after {
  content: '✔';
  color: var(--primary-text);
}

#humanGameState li span {
  opacity: 0.5;
}
#humanGameState li span.active {
  animation: fadeInOut 0.5s linear;
}

@keyframes fadeInOut {
  0% {
      opacity: 0.5;
  }
  1% {
      opacity: 1;
  }
  20% {
      opacity: 1;
  }
  100% {
      opacity: 0.5;
  }
}

#playerX:focus,
#playerY:focus,
#playerHP:focus, #enemyX:focus, #enemyY:focus, #enemyHP:focus, #tree0X:focus, #tree0Y:focus, #tree1X:focus, #tree1Y:focus, #gameStatus:focus {
  opacity: 1;
  outline: none;
}

.select-wrapper {
  border: 1px solid var(--border-subtle-light);
  padding: 9px 12px;
  background: transparent;
  border-radius: var(--br-9xs);
}
.select-wrapper select {
  border: none;
  outline: none;
  padding: 0;
  font-family: var(--font-not-jam-ui-condensed-16);
  background: none;
}
#rendererBoard .select-wrapper {
  background: white;
}

body, .how-a-game-works-done {
  height: 100vh;
}